* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Auth {
  display:  flex;
  justify-content: flex-end;
  padding: 20px;
  background-color: lightgray;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input, button {
  border: solid 1px lightgray;
  padding: 8px;
  margin-inline: 4px;
  border-radius: 4px;
}

input:hover, button:hover {
  outline: darkgray 1px solid;
}

input:active, button:active {
  outline: black 1px solid;
}

